/*body {
	background: gray;
	color: white;
}

.navbar {
	background: gray;
	color: white;
}

.panel-body {
	background: Black;
}*/


body {
	font-family: 'Roboto', sans-serif;
	background: #fefdfb;
}


span {
	font-size: 24px;
	text-align: center;
}

span.correct {
	color: green;
}

span.incorrect {
	color: red;
}

.panel > .panel-body + .list-group .list-group-item:first-child {
  border-bottom: 1px solid #dddddd;
}